@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eef4fe;
}

/* выпадающий список тегов */
.search-wrapper{
  padding-left: 48px !important;
  background-color: #E1EDFF;
  border-radius: 5px;
  border: 1px solid #B0C8ED;
  padding: 0px;
  padding-top: 3px;
}
.searchBox{
  height: 30px;
}
.chip{
  background-color: #93A8F4;
}

/* полоса прокрутки */
.optionListContainer ::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
.optionListContainer ::-webkit-scrollbar-track {
  background: #FFF;        /* цвет дорожки */
}
.optionListContainer ::-webkit-scrollbar-thumb {
  background-color: #80B6FF;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}
